<html>
<head>
    <title>
        Template Request  Meta
    </title>

</head>
<body>

    <table>
        
        <tr>
            <td>
                {{ message }}
            </td>

        </tr>
        <tr>

            <td>
                {{ user }}
            </td>
        </tr>
        <tr>

            <td>
                {{ request.path }}
            </td>
        </tr>
        <tr>

            <td>
                {{ request.HTTP_COOKIE }}
            </td>
        </tr>
    </table>

</body>

</html>